@import _mixins

.page-tittle
    background: url(../img/fondos/portada1.jpg)
    text-align: center
    +propieades-basicas-fondo

.admin-privileges
    display: flex
    flex-direction: column
    justify-content: space-evenly

.data-update
    position: relative
    display: flex
    width: 100%
    min-height: 100vh
    font-size: 16px
    text-align: center
    justify-content: space-evenly
    align-items: center
    flex-wrap: wrap
    opacity: 1
    +degrade-2
    
    h2
        width: 100%
        color: $color-white
        margin-bottom: 20px

    & > img
        width: 31.25em
        height: 31.25em

    .data-update__form
        display: flex
        width: 21.875em
        height: 22.5em
        flex-direction: column
        align-items: center
        justify-content: center
        margin: 0 10px
        border-radius: 5px
        // background: $color-white
        margin-bottom: 100px
        position: relative

        & > img
            width: 18.75em
            height: 18.75em
            border: 1px solid $color-green
            border-radius: 50%
            padding: 2px
            margin: 10px 0
            object-fit: fill
            transition: all .5s ease
           
                
        & > div 
            position: absolute
            display: flex
            width: 18.75em
            height: 18.75em
            border-radius: 50%
            border-color: $color-green
            justify-content: center
            align-items: center
            border-radius: 50%
            color: #fff
            font-weight: 500
            background: $degradado-oscuro
            transition: all .5s ease
            transform: scale(0)
            cursor: pointer
            &.active
                transform: scale(1)
            & > label
                cursor: pointer
                
        
        & > #inputPhotoPerfil
            display: none

        input , label
            width: 200px
            height: 50px
            margin: 5px 0
            border: none
            &:focus
                border: 3px solid $color-green

.form-button
    width: 200px
    height: 30px
    border-color: $color-green
    +button-degrade

.data-base-users
    display: flex
    width: 100%
    margin: auto
    justify-content: center
    align-items: center
    flex-wrap: wrap
    padding: 200px 0
    position: relative
    +degrade-2

    & > h2
        width: 100%
        color: $color-white

    form
        display: flex
        align-items: center
        justify-content: space-evenly
        width: 60%
        background: $color-white
        padding: 10px 10px
        border-radius: 5px

        input
            border: none
            margin: 0 10px
            &:focus
                border: 3px solid $color-green

    .table
        width: 100%

.contact-form
    display: grid
    gap: 20px
    grid-template-columns: repeat(2, 1fr)
    grid-template-rows: repeat(3, auto)
    grid-template-areas: "headerCard headerCard" "sideBar1 dataSession" "dataFooter dataFooter"

    & > .header-card
        grid-area: headerCard

    & > .sideBar1
        grid-area: sideBar1
        display: flex
        justify-content: center
        justify-items: center
        align-items: start
        & > img
            width: 500px
            height: 500px

    & > .data-session
        grid-area: dataSession
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        padding: 0 50px
        width: 50%
        height: 100%

        .input-div
            display: flex
            justify-content: flex-start
            align-items: center
            flex-direction: column
            width: 100%
            padding: 20px 0
            margin: 10px 0
            position: relative

            .head-input
                display: flex
                justify-content: flex-start
                align-items: center
                width: 100%
                font-size: 16px
                font-weight: 900
                color: #999
                position: relative

                & > h3
                    position: absolute
                    margin: 0 20px
                    transition: all 3s

                & > input
                    position: absolute
                    left: 0
                    top: 0
                    width: 100%
                    height: 100%
                    border: none
                    outline: none
                    background: none
                    padding: 8px 20px
                    font-size: 20px
                    color: #555
                    border-bottom: 2px solid #77777752
    
    & > .data-footer
        grid-area: dataFooter
        display: flex
        justify-content: center
        align-items: center

.admin-privileges
    position: relative
    display: flex
    justify-content: center
    width: 100%
    padding: 0 20px
    background: $degradado-tema

    & > h3
        padding-top: 100px
        width: 100%

    p
        width: 100%
        text-align: justify

    .admin-privileges-footer
        display: flex
        width: 100%
        bottom: 0
        margin: 10px
        
        a
            display: inline-block
            transition: .3s all ease
            cursor: pointer
            margin: 0 5px
            &:hover
                transform: scale(1.3)
            &.icon-facebook
                color: #3b5998
                font-size: 20px
            &.icon-instagram
                color: #3f729b
                font-size: 20px
            &.icon-twitter
                color: #00acee
                font-size: 20px
            &.icon-whatsapp
                color: #00bb2d
                font-size: 20px
            &.icon-youtube
                color: #c4302b
                font-size: 20px
            
        p
            font-weight: 600

@media screen and ( max-width: 768px)
    .contact-form
        grid-template-columns: repeat(1, 1fr)
        grid-template-areas: "headerCard" "dataSession" "dataContact" "dataPersonal" "dataFooter"
        justify-items: center
        align-items: center






        

    
