header
	display: flex
	justify-content: center
	align-items: center
	position: fixed
	width: 100%
	height: 50px
	z-index: 100
	nav
		display: flex
		justify-content: space-between
		align-items: center
		width: 90%
		height: 100%

		.logo
			display: flex
			justify-content: center
			align-items: center
			width: 20%
			height: 100%
			a
				color: $color-white

		.enlaces
			display: flex
			justify-content: center
			align-items: center

			a
				display: inline-block
				padding: 0 0.277em
				font-weight: 500
				color: #fff
				&:hover
					background: linear-gradient(45deg, rgba(189, 189, 227, 1) 0%, rgba(189, 189, 227, 1) 22%, rgba(41, 217, 44, 1) 48%, rgba(179, 131, 134, 1) 77%, rgba(179, 131, 134, 1) 100%)
					-webkit-background-clip: text
					color: #FFD700
					transform: scale(1.15)
					transition: all 1s
					transform-origin: center

		.icon-burger
			display: none
			color: $color-white
			font-size: 24px
			padding: 20px 20px
			&:hover
				cursor: pointer

@media screen and (max-width: 800px)
	header
		nav
			flex-direction: column
			.logo
				width: 100%

@media screen and (max-width: 600px)
	header
		nav
			flex-direction: row
			.enlaces
				display: flex
				flex-direction: column
				justify-content: start
				align-items: center
				position: fixed
				padding: 10px 0
				top: 50px
				left: 0px
				width: 0%
				height: 100%
				transition: 1s
				background: $degradado-oscuro
				overflow: hidden
				a
					display: flex
					align-items: center
					justify-content: center
					width: 100%
					padding: 20px 0
					&:hover
						background: $color-light-gray
						transform: scale(1.15)
						transition: all 1s
						transform-origin: center
						color: $color-black

			.icon-burger
				display: flex
