@import _mixins

//*===== IMÁGENES DE FONDO =====*
.inicio-noticias
    background-image: $degradado-oscuro, url(../img/fondos/portada2.jpg)
    scroll-behavior: smooth
    +propieades-basicas-fondo()

//*===== SECCIÓN PRINCIPAL =====*
.main-section
    justify-content: space-evenly
    font-size: 16px
    +propieades-basicas-seccion-principal()

    .articulo
        display: flex
        height: 100%
        width: 34.375em
        flex-direction: column
        justify-content: space-between
        align-items: center
        padding: 5px 0
        border-radius: 5px
        border: 1px solid $green-pretty-color
        box-shadow: -10px 15px 20px -10px $green-pretty-color
        margin: 20px 0
        .cabecera-articulo
            display: flex
            width: 95%
            height: 3.125em
            justify-content: flex-start
            position: relative
            .thumbnail
                display: flex
                justify-content: center
                align-items: center
                width: 2.5em
                height: 2.5em
                margin-right: 1.875em
                & > img
                    width: 100%
                    height: 100%
                    padding: 5px
                    border-radius: 50%
                    border: 1px solid $green-pretty-color
            & > a
                display: flex
                height: 2.5rem
                align-items: center
                justify-content: center
                scroll-behavior: smooth

            & > .buttonDelete
                display: flex
                position: absolute
                right: 0
                align-items: center
                border-radius: 10%
                background: #ff0000
                text-align: center
                width: 100px
                margin-right: 5px
                display: flex
                border-radius: 2px
                color: $color-white

        .gallery > img
            width: 100%
            height: 100%
            cursor: pointer
            transition: all 1s
            transform: scale(1)
        .footer-article
            display: flex
            width: 95%
            height: 100%
            justify-content: flex-start
            p
                font-size: 1em

//Button Styles Back
.botón-volver
    display: flex
    justify-content: center
    margin: auto
    padding: 30px 30px
    & > a
        font-size: 50px
        font-weight: 600
        transition: 1s all ease
        color: $color-gray
        &:hover
            color: #FFD700
            transform: scale(1.4)
            transform-origin: center
            cursor: pointer

@media screen and (max-width: 600px)
    .main-section
        font-size: 14px
        .articulo
            width: 90%

//*===== Botón Volver =====*
