   .spoiler a {
     display: table-cell;
     text-decoration: none;
     color: #000;
     border-bottom: solid 3px #7A4D4D;
     font-size: 12pt;
   }

   .spoiler a:hover {
     opacity: .4;
   }

   input [type="checkbox"input]:hover {
     opacity: .4;
   }

   /* Ocultar botón radio */
   input[id^="spoiler"] {
     display: none;
   }

   /* Estilo botón clicable */
   input[id^="spoiler"]+label {
     display: block;
     width: 100%;
     margin: 0 auto;
     padding: 5px 20px;
     background: rgb(102, 97, 27);
     cursor: pointer;
     color: #fff;
   }

   /* Estilo botón cuando su INPUT está seleccionado */
   input[id^="spoiler"]:checked+label {
     color: #FCFCFC;
     background: rgba(189, 189, 227, 1);
     background: -moz-linear-gradient(45deg, rgba(189, 189, 227, 1) 0%, rgba(189, 189, 227, 1) 22%, rgba(41, 217, 44, 1) 48%, rgba(179, 131, 134, 1) 77%, rgba(179, 131, 134, 1) 100%);
     background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(189, 189, 227, 1)), color-stop(22%, rgba(189, 189, 227, 1)), color-stop(48%, rgba(41, 217, 44, 1)), color-stop(77%, rgba(179, 131, 134, 1)), color-stop(100%, rgba(179, 131, 134, 1)));
     background: -webkit-linear-gradient(45deg, rgba(189, 189, 227, 1) 0%, rgba(189, 189, 227, 1) 22%, rgba(41, 217, 44, 1) 48%, rgba(179, 131, 134, 1) 77%, rgba(179, 131, 134, 1) 100%);
     background: -o-linear-gradient(45deg, rgba(189, 189, 227, 1) 0%, rgba(189, 189, 227, 1) 22%, rgba(41, 217, 44, 1) 48%, rgba(179, 131, 134, 1) 77%, rgba(179, 131, 134, 1) 100%);
     background: -ms-linear-gradient(45deg, rgba(189, 189, 227, 1) 0%, rgba(189, 189, 227, 1) 22%, rgba(41, 217, 44, 1) 48%, rgba(179, 131, 134, 1) 77%, rgba(179, 131, 134, 1) 100%);
     background: linear-gradient(45deg, rgba(189, 189, 227, 1) 0%, rgba(189, 189, 227, 1) 22%, rgba(41, 217, 44, 1) 48%, rgba(179, 131, 134, 1) 77%, rgba(179, 131, 134, 1) 100%);
     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bdbde3', endColorstr='#b38386', GradientType=1);
   }

   /* Estilo caja SPOILER (inicialmente oculto) */
   input[id^="spoiler"]~.spoiler {
     width: 90%;
     height: 0;
     overflow: hidden;
     opacity: 0;
     margin: 10px auto 0;
   }

   /* Estilo caja SPOILER cuando su INPUT está seleccionado */
   input[id^="spoiler"]:checked+label+.spoiler {
     height: auto;
     opacity: 1;
   }

   label {
     font-size: 14pt;
     text-align: justify;
     color: #000;
   }

   label span.justify {
     text-align: justify;
     color: #000;
     font-size: 10pt;
   }

   label span.justify strong {
     font-size: 15pt;
     padding: 5px;
   }

   h4 {
     text-align: left;
   }

   /*estilo de la tabla*/

   #keywords tbody tr th {
     /* separacion entre celdas*/
     text-align: left;
     padding: 20px 140px;
     border-bottom: solid 2px #000;
     border-top: solid 2px #000;

   }

   #keywords tbody tr th span {
     font-family: arial;
     font-size: 20px;

   }