/*===== IMÁGENES DE FONDO =====*/
.inicio-noticias {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), url(../img/fondos/portada2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #cfcfcf;
    position: relative;
}

/*===== Navigation Bar =====*/
header {
    font-size: 18px;
    width: 100%;
    height: 2.77em;
    position: fixed;
    z-index: 100;
}

header nav {
    display: flex;
    width: 90%;
    height: 2.77em;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

header nav a {
    display: inline-block;
    padding: 0 0.277em;
    font-weight: 500;
    color: #fff;
    transform: scale(1);
}

header nav a:hover {
    background: darkorange background: -moz-linear-gradient(45deg, rgba(189, 189, 227, 1) 0%, rgba(189, 189, 227, 1) 22%, rgba(41, 217, 44, 1) 48%, rgba(179, 131, 134, 1) 77%, rgba(179, 131, 134, 1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(189, 189, 227, 1)), color-stop(22%, rgba(189, 189, 227, 1)), color-stop(48%, rgba(41, 217, 44, 1)), color-stop(77%, rgba(179, 131, 134, 1)), color-stop(100%, rgba(179, 131, 134, 1)));
    -webkit-background-clip: text;
    color: #FFD700;
    transform: scale(1.15);
    transition: all 0.5s;
    transform-origin: center;
}

/*===== SECCIÓN PRINCIPAL =====*/
#sección-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

#sección-principal .articulo {
    display: flex;
    min-height: 37.5em;
    width: 34.375em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.625em 0;
    margin: 2.125em 0;
    border-radius: 0.3125px;
    border: 1px solid rgba(128, 128, 128, 0.5);
    -webkit-box-shadow: -10px 15px 20px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: -10px 15px 20px 5px rgba(0, 0, 0, 0.5);
    box-shadow: -10px 15px 20px -10px rgba(0, 0, 0, 0.5);
}

#sección-principal .cabecera-articulo {
    display: flex;
    width: 95%;
    height: 3.125em;
    justify-content: start;
}

#sección-principal .cabecera-articulo>img {
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    border: 1px solid gray;
    margin-right: 1.875em;
}

#sección-principal .cabecera-articulo>a {
    display: flex;
    width: 2.5em;
    height: 2.5em;
    align-items: center;
    justify-content: center;
}

#sección-principal .gallery>img {
    width: 100%;
    height: 100%;
    margin-bottom: 1.875em;
    cursor: pointer;
    transition: all 1s;
    transform: scale(1);
}

#sección-principal .footer-article {
    display: flex;
    width: 95%;
    height: 3.125em;
    justify-content: start;
}

@media screen and (max-width: 900px) {
    #sección-principal .articulo{
        width: 25em;
    }
  }

/*===== Botón Volver =====*/
#sección-principal .botón-volver {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.875em 1.875em;
}

#sección-principal .botón-volver>a {
    font-size: 3.75em;
    font-weight: 600;
    transition: all 0.8s;
    color: #fff;
}

#sección-principal .botón-volver>a:hover {
    background: darkorange background: -moz-linear-gradient(45deg, rgba(189, 189, 227, 1) 0%, rgba(189, 189, 227, 1) 22%, rgba(41, 217, 44, 1) 48%, rgba(179, 131, 134, 1) 77%, rgba(179, 131, 134, 1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(189, 189, 227, 1)), color-stop(22%, rgba(189, 189, 227, 1)), color-stop(48%, rgba(41, 217, 44, 1)), color-stop(77%, rgba(179, 131, 134, 1)), color-stop(100%, rgba(179, 131, 134, 1)));
    -webkit-background-clip: text;
    color: #FFD700;
    transform: scale(1.4);
}
