/*

Volton Template

http://www.templatemo.com/tm-441-volton

*/

@font-face {
  font-family: 'robotolight';
  src: url("../fonts/Roboto-Light-webfont.eot");
  src: url("../fonts/Roboto-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Light-webfont.woff") format("woff"), url("../fonts/Roboto-Light-webfont.ttf") format("truetype"), url("../fonts/Roboto-Light-webfont.svg#robotolight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotoregular';
  src: url("../fonts/Roboto-Regular-webfont.eot");
  src: url("../fonts/Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular-webfont.woff") format("woff"), url("../fonts/Roboto-Regular-webfont.ttf") format("truetype"), url("../fonts/Roboto-Regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotobold';
  src: url("../fonts/Roboto-Bold-webfont.eot");
  src: url("../fonts/Roboto-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Bold-webfont.woff") format("woff"), url("../fonts/Roboto-Bold-webfont.ttf") format("truetype"), url("../fonts/Roboto-Bold-webfont.svg#robotobold") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*---------------------------------------------------------
 1. Reset
-------------------------------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

.blue {
	color: #06C;
}

.green {
	color: #090;
}

main {
  display: block;
}

body {
  line-height: 1;
  background-image:url('');
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
}

audio:not([controls]) {
  display: none;
}

sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* Button button Input */

 input[type="submit"],
 form .cerrarsesion{
   margin-left: 40px;
   margin-top: 20px;
   width: 250px;
   height: 30px;
   	
background: rgba(74,12,150,1);
background: -moz-linear-gradient(45deg, rgba(74,12,150,1) 0%, rgba(74,12,150,1) 1%, rgba(82,150,63,1) 36%, rgba(173,14,30,0.99) 66%, rgba(255,146,10,0.99) 93%, rgba(255,146,10,0.99) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(74,12,150,1)), color-stop(1%, rgba(74,12,150,1)), color-stop(36%, rgba(82,150,63,1)), color-stop(66%, rgba(173,14,30,0.99)), color-stop(93%, rgba(255,146,10,0.99)), color-stop(100%, rgba(255,146,10,0.99)));
background: -webkit-linear-gradient(45deg, rgba(74,12,150,1) 0%, rgba(74,12,150,1) 1%, rgba(82,150,63,1) 36%, rgba(173,14,30,0.99) 66%, rgba(255,146,10,0.99) 93%, rgba(255,146,10,0.99) 100%);
background: -o-linear-gradient(45deg, rgba(74,12,150,1) 0%, rgba(74,12,150,1) 1%, rgba(82,150,63,1) 36%, rgba(173,14,30,0.99) 66%, rgba(255,146,10,0.99) 93%, rgba(255,146,10,0.99) 100%);
background: -ms-linear-gradient(45deg, rgba(74,12,150,1) 0%, rgba(74,12,150,1) 1%, rgba(82,150,63,1) 36%, rgba(173,14,30,0.99) 66%, rgba(255,146,10,0.99) 93%, rgba(255,146,10,0.99) 100%);
background: linear-gradient(45deg, rgba(74,12,150,1) 0%, rgba(74,12,150,1) 1%, rgba(82,150,63,1) 36%, rgba(173,14,30,0.99) 66%, rgba(255,146,10,0.99) 93%, rgba(255,146,10,0.99) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a0c96', endColorstr='#ff920a', GradientType=1 );

   display: table-cell;
   color: white;
   font-size: 14px;
   text-align: center;
   border: solid 1px #c0c0c0;
}


button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button,
input {
  line-height: normal;
  *overflow: visible;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  
  -webkit-appearance: none;
  
}

input[type="number"]{
  -moz-appearance: textfield;
}


textarea {
  overflow: auto;
  vertical-align: top;
}

/*---------------------------------------------------------
 2. Basic Style
-------------------------------------------------------- */
body {
  font-size: 14px;
  line-height: 24px;
  color: #777777;
  font-family: 'robotoregular';
  overflow-x: hidden;
}

a {
  color: #006699;
  -webkit-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  -ms-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  text-decoration: none !important;
}
a:hover {
  color: #555555;
}

h1, h2, h3, h4, h5 {
  color: #555555;
}

::-webkit-input-placeholder {
  color: #999999;
}


:-moz-placeholder {
  /* Firefox 18- */
  color: #999999;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #999999;
}

:-ms-input-placeholder {
  color: #999999;
}

.main-content,
.banner-bg {
  float: right;
  width: 77%;
}
@media screen and (max-width: 1290px) {
  .main-content,
  .banner-bg {
    width: 70%;
  }
}
@media screen and (max-width: 992px) {
  .main-content,
  .banner-bg {
    width: 100%;
  }
}

.content-wrapper {
  padding: 0 80px;
}
@media screen and (max-width: 992px) {
  .content-wrapper {
    padding: 0 30px;
  }
}

h4.widget-title {
  padding: 15px;
  font-size: 16px;
  font-family: 'robotobold';
  text-transform: uppercase;
  margin-bottom: 10px;
  background: rgba(255,146,10,0.99);
  background: -moz-linear-gradient(45deg, rgba(255,146,10,0.99) 0%, rgba(255,146,10,0.99) 7%, rgba(173,14,30,0.99) 34%, rgba(82,150,63,1) 64%, rgba(74,12,150,1) 99%, rgba(74,12,150,1) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(255,146,10,0.99)), color-stop(7%, rgba(255,146,10,0.99)), color-stop(34%, rgba(173,14,30,0.99)), color-stop(64%, rgba(82,150,63,1)), color-stop(99%, rgba(74,12,150,1)), color-stop(100%, rgba(74,12,150,1)));
  background: -webkit-linear-gradient(45deg, rgba(255,146,10,0.99) 0%, rgba(255,146,10,0.99) 7%, rgba(173,14,30,0.99) 34%, rgba(82,150,63,1) 64%, rgba(74,12,150,1) 99%, rgba(74,12,150,1) 100%);
  background: -o-linear-gradient(45deg, rgba(255,146,10,0.99) 0%, rgba(255,146,10,0.99) 7%, rgba(173,14,30,0.99) 34%, rgba(82,150,63,1) 64%, rgba(74,12,150,1) 99%, rgba(74,12,150,1) 100%);
  background: -ms-linear-gradient(45deg, rgba(255,146,10,0.99) 0%, rgba(255,146,10,0.99) 7%, rgba(173,14,30,0.99) 34%, rgba(82,150,63,1) 64%, rgba(74,12,150,1) 99%, rgba(74,12,150,1) 100%);
  background: linear-gradient(45deg, rgba(255,146,10,0.99) 0%, rgba(255,146,10,0.99) 7%, rgba(173,14,30,0.99) 34%, rgba(82,150,63,1) 64%, rgba(74,12,150,1) 99%, rgba(74,12,150,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff920a', endColorstr='#4a0c96', GradientType=1 );
  color: #fff;
  border-radius: 5px;
}

i.widget-title {
  border: 10px;
  font-size: 14px;
  font-family: 'robotobold';
  text-transform: uppercase;
  margin-bottom: 5px;
}

hr {
  position: relative;
  outline: 0;
  border: 0;
  width: 100%;
  height: 4px;
  background: #dddddd;
  margin-top: 40px;
  margin-bottom: 0;
}

.page-section {
  padding-top: 80px;
}

/*---------------------------------------------------------
 3. Header
-------------------------------------------------------- */
.sidebar-menu {
  float: left;
  width: 23%;
  height: 100%;
  position: fixed;
  background-color: rgba(95, 109, 14, 0.8);
  color: white;
  overflow-y: hidden;
}
@media screen and (max-width: 1290px) {
  .sidebar-menu {
    overflow-y: scroll;
    width: 30%;
  }
}

.top-section {
  padding: 40px;
}

.profile-image {
  background-image:url('../img/profile.jpg');
  width: 100px;
  height: 100px;
  border: 4px solid white;
  -webkit-border-radius: 75px;
  border-radius: 75px;
  overflow: hidden;
  margin-bottom: 20px;
}


.profile-image img {
  width: 100%;
  height:100%;
}

.profile-image2 {
  background-image:url('../img/profile.jpg');
  margin-left: 35%;
  width: 300px;
  height: 300px;
  border: 4px solid white;
  -webkit-border-radius: 75px;
  border-radius: 75px;
  overflow: hidden;
  margin-bottom: 20px;
}


.profile-image2 img {
  width: 100%;
  height:100%;
}

h3.profile-title {
  margin-bottom: 5px;
  color: white;
  font-size: 18px;
  font-family: 'robotobold';
}

.main-navigation {
  margin: 30px 0;
}
.main-navigation li {
  display: block;
}
.main-navigation li a {
  padding: 5px 20px;
  display: block;
  color: white;
  font-size: 14px;
}
.main-navigation li a i {
  margin-right: 15px;
  font-size: 15px;
}
.main-navigation li a:hover {
  background: rgba(88, 72, 226, 0.4);
}
.main-navigation li a.active {
  background: rgba(88, 72, 226, 0.4);;
}
.main-navigation li a.active:hover {
  background: #rgba(88, 72, 226, 0.4);;
}

.social-icons {
  display: block;
  padding: 30px 40px;
}
.social-icons li {
  display: inline-block;
  margin-right: 20px;
}
.social-icons a {
  font-size: 18px;
  color: white;
}

.responsive-header {
  background: #1F122B;
  text-align: center;
}
@media screen and (max-width: 992px) {
  .responsive-header .main-navigation {
    margin-top: 10px;
    display: none;
  }
}
@media screen and (max-width: 992px) {
  .responsive-header p {
    color: white;
  }
}
@media screen and (max-width: 992px) {
  .responsive-header .profile-image {
    float: left;
    width: 100px;
    height: 100px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    overflow: hidden;
    margin-right: 30px;
  }
  .responsive-header .profile-content {
    text-align: left;
    margin-top: 30px;
    overflow: hidden;
  }
}

@media screen and (max-width: 992px) {
  .top-section {
    padding-bottom: 0;
  }
}

@media screen and (max-width: 992px) {
  .main-navigation a {
    padding: 10px;
  }
  .main-navigation a.active {
    background: #1F122B !important;
  }
  .main-navigation a:hover {
    background: #1F122B !important;
  }
}

.toggle-menu {
  width: 70%;
  display: block;
  padding: 20px;
  margin-top: 30px;
  background: #1F122B;
  color: white;
  font-size: 18px;
}
.toggle-menu:hover {
  color: white;
}

/*---------------------------------------------------------
 4. Main Content
-------------------------------------------------------- */
/*------ banner ------ */
.banner-bg {
  padding: 150px 80px;
  position: relative;
  background: url("../img/portada.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 2;
}

.banner-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  	background: -moz-linear-gradient(top,  rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.73) 17%, rgba(0,0,0,0.66) 35%, rgba(0,0,0,0.55) 62%, rgba(0,0,0,0.4) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.8)), color-stop(17%,rgba(0,0,0,0.73)), color-stop(35%,rgba(0,0,0,0.66)), color-stop(62%,rgba(0,0,0,0.55)), color-stop(100%,rgba(0,0,0,0.4))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* W3C */
  top: 0;
  left: 0;
  z-index: 3;
}

.welcome-text {

  margin-left: 85px;
  position: relative;
  z-index: 4;
}

.welcome-text h1 {
  font-size: 80px;
  font-family: 'robotobold';
  color: red;
  margin-bottom: 30px;
}

.welcome-text h2 {
  font-size: 40px;
  font-family: 'robotobold';
  color: white;
  margin-bottom: 30px;
  
}
.welcome-text h5 {
  font-size: 22px;
  color: white;
}

/*------ about us ------ */
.about-image {
  overflow: hidden;
  border: 4px solid #dddddd;
  margin-bottom: 40px;
}
.about-image img {
  width: 100%;
  display: block;
}

/*------ projects ------ */
.projects-holder {
  margin-right: 0;
  margin-left: 0;
  margin-top: 40px;
}
.projects-holder .col-md-4,
.projects-holder .col-md-4 {
  padding-right: 1px;
  padding-left: 1px;
}

.project-item {
  width: 100%;
  margin-bottom: 2px;
  overflow: hidden;
  position: relative;
}
.project-item img {
  width: 100%;
  display: block;
}
.project-item:hover .project-hover {
  top: 0;
  opacity: 1;
  visibility: visible;
}

.project-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 40px;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  opacity: 0;
  visibility: 0;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
}
.project-hover .inside {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 30px;
}
.project-hover h5 {
  font-size: 16px;
  margin-bottom: 15px;
}
.project-hover h5 a {
  color: white;
}
.project-hover p {
  color: white;
  font-size: 13px;
  line-height: 20px;
}


/*------ projects2 ------ */
.projects2-holder {
  margin-right: 0;
  margin-left: 0;
  margin-top: 40px;
}
.projects2-holder .col-md-4,
.projects2-holder .col-md-4 {
  padding-right: 1px;
  padding-left: 1px;
}

.project2-item {
  width: 100%;
  margin-bottom: 2px;
  overflow: hidden;
  position: relative;
}
.project2-item img {
  width: 100%;
  display: block;
}
.project2-item:hover .project-hover {
  top: 0;
  opacity: 1;
  visibility: visible;
}

.project2-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 40px;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  opacity: 0;
  visibility: 0;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
}
.project2-hover .inside {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 30px;
}
.project2-hover h5 {
  font-size: 16px;
  margin-bottom: 15px;
}
.project2-hover h5 a {
  color: white;
}
.project2-hover p {
  color: white;
  font-size: 13px;
  line-height: 20px;
}



/*------ projects3 ------ */
.projects3-holder {
  margin-right: 0;
  margin-left: 0;
  margin-top: 40px;
}
.projects3-holder .col-md-4,
.projects3-holder .col-md-4 {
  padding-right: 1px;
  padding-left: 1px;
}

.project3-item {
  width: 100%;
  margin-bottom: 2px;
  overflow: hidden;
  position: relative;
}
.project3-item img {
  width: 100%;
  display: block;
}
.project3-item:hover .project-hover {
  top: 0;
  opacity: 1;
  visibility: visible;
}

.project3-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 40px;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  opacity: 0;
  visibility: 0;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
}
.project3-hover .inside {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 30px;
}
.project3-hover h5 {
  font-size: 16px;
  margin-bottom: 15px;
}
.project3-hover h5 a {
  color: white;
}
.project3-hover p {
  color: white;
  font-size: 13px;
  line-height: 20px;
}

.button-a{
	background:#000;

}

/*------ buscar ------ */
.buscar-holder {
  margin-right: 0;
  margin-left: 0;
  margin-top: 40px;
}
.buscar-holder .col-md-4,
.buscar-holder .col-md-4 {
  padding-right: 1px;
  padding-left: 1px;
}

.buscar-item {
  width: 100%;
  margin-bottom: 2px;
  overflow: hidden;
  position: relative;
}
.buscar-item img {
  width: 100%;
  display: block;
}
.buscar-item:hover .project-hover {
  top: 0;
  opacity: 1;
  visibility: visible;
}

.buscar-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 40px;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  opacity: 0;
  visibility: 0;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
}
.buscar-hover .inside {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 30px;
}
.buscar-hover h5 {
  font-size: 16px;
  margin-bottom: 15px;
}
.buscar-hover h5 a {
  color: white;
}
.buscar-hover p {
  color: white;
  font-size: 13px;
  line-height: 20px;
}

.buscar .button {
  border-radius: 5px;
  width: auto;
  background: #1F122B;
  color: white;
  text-transform: uppercase;
  border: 0;
  margin-left:80%;
}
.buscar input{
	margin-left:30%;
  border-radius: 5px;
  width: 30%;
  outline: 0;
  border: 1px solid #aaaaaa;
  padding: 10px;
  color: #999999;
  margin-bottom: 20px;
}






/*------ contact ------ */
.contact-form {
  width: 30%;
  margin: 40px auto;
  text-align: left;
  position: relative;
  padding: 3px;
  border-radius: 5px;
  margin-bottom: 15px;
  width: 80%;
  box-sizing: border-box;
  font-family: robotobold;
  
  font-size: 14px; //tamaño de letras formulario
}
.contact-form input, .contact-form textarea{
  border-radius: 5px;
  width: 30%;
  outline: 0;
  border: 1px solid #aaaaaa;
  padding: 3px;
  color: #999999;
  margin-bottom: 20px;
}

.contact-form select{
  border-radius: 5px;
  width: 30%;
  outline: 0;
  border: 1px solid #aaaaaa;
  padding: 3px;
  color: #1F122B;
  margin-bottom: 30px;
}


.contact-form h3{
  text-align:center;
  width: 100%;
  font-family:robotobold;
  font-size:16px;
}

.contact-form .button {
  border-radius: 5px;
  width: auto;
  background: #1F122B;
  color: white;
  text-transform: uppercase;
  border: 0;
  margin-left:80%;
}


.contact-constancia input {
	width:400px;
	padding:5px 20px;
	border:solid #FFF 2px;
	border-radius:5px;	
}

.contact-constancia h2{
	font-family:robotobold;
	font-size:18px;
	margin-left:5em;
}

.contact-constancia h3{
	font-family:robotobold;
	font-size:14px;
	margin-left:5em;

}

.contact-constancia h4{
	font-family:robotobold;
	font-size:14px;
	margin-left:5em;
	color:darkred;
}

.contact-constancia .fecha{
	border-radius:5px;
	border:solid 2px #F0f0f0;
}

.contact-constancia .button {
  border-radius: 5px;
  width: auto;
  background: #1F122B;
  color: white;
  text-transform: uppercase;
  border: 0;
  margin-left:80%;
}
/*actualizar foto*/

.fotos input {
  color:#fff;
  padding:5px 20px;
  border:solid #fff 2px;
  border-radius:5px;
  margin-left:20em;  
}

.fotos h2{
	font-family:robotobold;
	font-size:18px;
	margin-left:5em;
}

.fotos h3{
  font-family:robotobold;
  font-size:14px;
  margin-left:20em;

}


.fotos .button {
   border-radius: 5px;
  width: auto;
  background: #1F122B;
  color: white;
  text-transform: uppercase;
  border: 0;
  margin-left:80%;
}





/*actualizar datos de sesion empleado*/

.sesion input {
	padding:10px 20px;
	border:solid #f0f0f0 2px;
	border-radius:5px;	
}

.sesion h2{
	font-family:robotobold;
	font-size:18px;
	margin-left:19em;
}

.sesion h3{
	font-family:robotobold;
	font-size:14px;
	margin-left:20em;
}


.sesion .button {
   border-radius: 5px;
  width: auto;
  background: rgba(255,146,10,0.99);
background: -moz-linear-gradient(45deg, rgba(255,146,10,0.99) 0%, rgba(255,146,10,0.99) 7%, rgba(173,14,30,0.99) 34%, rgba(82,150,63,1) 64%, rgba(74,12,150,1) 99%, rgba(74,12,150,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(255,146,10,0.99)), color-stop(7%, rgba(255,146,10,0.99)), color-stop(34%, rgba(173,14,30,0.99)), color-stop(64%, rgba(82,150,63,1)), color-stop(99%, rgba(74,12,150,1)), color-stop(100%, rgba(74,12,150,1)));
background: -webkit-linear-gradient(45deg, rgba(255,146,10,0.99) 0%, rgba(255,146,10,0.99) 7%, rgba(173,14,30,0.99) 34%, rgba(82,150,63,1) 64%, rgba(74,12,150,1) 99%, rgba(74,12,150,1) 100%);
background: -o-linear-gradient(45deg, rgba(255,146,10,0.99) 0%, rgba(255,146,10,0.99) 7%, rgba(173,14,30,0.99) 34%, rgba(82,150,63,1) 64%, rgba(74,12,150,1) 99%, rgba(74,12,150,1) 100%);
background: -ms-linear-gradient(45deg, rgba(255,146,10,0.99) 0%, rgba(255,146,10,0.99) 7%, rgba(173,14,30,0.99) 34%, rgba(82,150,63,1) 64%, rgba(74,12,150,1) 99%, rgba(74,12,150,1) 100%);
background: linear-gradient(45deg, rgba(255,146,10,0.99) 0%, rgba(255,146,10,0.99) 7%, rgba(173,14,30,0.99) 34%, rgba(82,150,63,1) 64%, rgba(74,12,150,1) 99%, rgba(74,12,150,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff920a', endColorstr='#4a0c96', GradientType=1 );
  color: white;
  text-transform: uppercase;
  border: 0;
  margin-left:80%;
}





/*---------------------------------------------------------
 5. Footer
-------------------------------------------------------- */
#footer p.copyright-text {
  margin: 40px 0;
  font-size: 13px;
}
#footer p.copyright-text a {
  color: #1F122B;
}
#footer p.copyright-text a:hover {
  color: #6cc0f7;
}

#inicio-admin {
border: 7px;
}
